.btn.add{
  height: 30px;
  font-size: 11px;
  box-shadow: 0 0 1px $add-border;
  border: 1px solid ;
  border-top-color: #d42626;
  border-left-color: #ce0000;
  border-right-color: #ce0000;
  border-bottom-color: #cf0606;
  background: linear-gradient(#ab0000, #e90000);
  color: #fff;
  border-radius: 5px;
  padding: 0 10px;
  width: 125px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:hover{
    box-shadow: 0 0 1px 1px #d8d8d8;
    border-color: #fff;
    background: linear-gradient( #eeeded, #fff);
    color: #42454c;
  }
}