.event {
  font-size: 0;
  &__el {
    padding-bottom: 11px;
    margin-bottom: 11px;
    border-bottom: 1px dotted #a6a6a6;
    &:last-child {
      border-bottom: none;
    }
    &-date {
      display: inline-block;
      vertical-align: top;
      width: 39px;
      margin-right: 7px;
      position: relative;
      font-size: 10px;
      @include sprite($picker);
      text-align: center;
      box-sizing: border-box;
      font-weight: bold;
      color: #fff;
      padding-top: 2px;
      &>span {
        display: block;
        font-size: 18px;
        color: #000;
        margin-left: -1px;
        margin-top: 3px;
        &>b {
          font-size: 10px;
          display: block;
          font-weight: normal;
          margin-top: -6px;
        }
      }
      &>a {
        color: #b00;
        display: inline-block;
        margin-top: 1px;
        margin-left: -1px;
      }
    }
    &-body {
      display: inline-block;
      vertical-align: top;
      width: 190px;
    }
    &-link {
      display: inline-block;
      margin-bottom: 13px;
      &:hover {
        text-decoration: underline;
        &>span {
          text-decoration: underline;
        }
      }
      &>img {
        display: inline-block;
        vertical-align: top;
        width: 47px;
        height: 47px;
        border-radius: 8px;
        margin-right: 5px;
      }
      &>span {
        font-weight: bold;
        color: #000;
        display: inline-block;
        vertical-align: top;
        font-size: 12px;
        width: 135px;
        line-height: 16px;
      }
    }
  }
}