.quantity {
  position: relative;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

.quantity input {
  min-width: 66px;
  height: 28px;
  line-height: 1.65;
  float: left;
  display: block;
  padding: 0;
  margin: 0;
  padding-left: 12px;
  border: 1px solid $input-border ;
  border-radius: 3px;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: relative;
  height: 27px;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  color: $base-font-color;
  font-size: $base-font-size;
  font-family: $base-font;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.quantity-button.quantity-up {
  position: absolute;
  height: 50%;
  top: 0;
  border-bottom: 1px solid #c1cacb;
  @include sprite($num-up);
}

.quantity-button.quantity-down {
  position: absolute;
  bottom: -1px;
  height: 50%;
  @include sprite($num-bottom);
}