.tour{
  &-link{
    font-weight: bold;
    color: #000;
    margin-bottom: 5px;
    display: inline-block;
    span{
      color: #bb0000;
    }
    i{
      display: inline-block !important;
      margin-left: 10px;
      margin-top: 0 !important;
    }
  }
  &__el{
    padding-bottom: 5px;
    margin-bottom: 15px;
    &-right {
      font-size: 18px;
      font-weight: 700;
    }
    &-link{
      color: $base-orange;
      margin-bottom: 7px;
      font-weight: 700;
    }
  }
}