$base-font-size: 12px;
$base-line-height : 25px;
$base-font: Arial, "Helvetica Neue", Helvetica, sans-serif;
$base-font-color : #2d2d2d;

//Colors

$base-red: #ca0000;
$base-orange: #fd7d00;
$base-gray: #909090;
$gray: #42454c;
$hover-tab-link: #8b8b8b;
$th-title : #bb0000;
$th-bg: #fbebad;
$th-border: #ead376;
$td-bg: #fdf6db;
$slider-fill : #dc3838;
$activeColor: #27ae60;
$close-bg: #c4c4c4;
$toast : #9e9e9e;
$toast-border : #dadada;
$toast-hover : #e84141;
$add-border : #d97f7f;
$dangers : #dd2929;
$successs : #5a9b20;
$prinarys : #3690c9;
$input-border :  #b2b2b2;
$textarea-color : #6f6f6f;
$pagination : #3e3e3e;
$pagination-bg: #d21a1a;
$modal-border: #c1cacb;
$modal-border-red: #d42626;
$greens: #2e7900;
