<form action="#" class="filter-sidebar">
    <label>
        <input type="text" name="" placeholder="Город?">
        <i class="ico-search-gray"></i></label>

    <div class="datepiker d-flex flex-column justify-content-between">
        <div class="d-flex justify-content-between">
            <label class="position-relative mb-0">
                <input type="text" name="" value="16 сентября" class="text-center">
                <i class="button-date position-absolute"></i></label>
            <div class="mx-1"></div>
            <label class="position-relative mb-0">
                <input type="text" name="" value="26 сентября" class="text-center">
                <i class="button-date position-absolute"></i></label>

        </div>
        <div class="d-flex justify-content-between">
            <div class="select-wrap w-100 mt-0">
                <select name="" id="" class="custom">
                    <option value="1">взрослые 1</option>
                    <option value="2">взрослые 2</option>
                    <option value="3">взрослые 3</option>
                </select>

            </div>
            <div class="mx-1"></div>
            <div class="select-wrap w-100 mt-0">
                <select name="" id="" class="custom">
                    <option value="">дети 1</option>
                    <option value="">дети 2</option>
                    <option value="">дети 3</option>
                </select>

            </div>
        </div>
    </div>
    <div class="select-wrap d-flex w-100 my-3 pt-0 align-items-center justify-content-between">
        <div class="w-50">Вид отеля:</div>
        <select name="" id="type" class="custom">
            <option value="5">5 звезд</option>
            <option value="4">4 звезды</option>
            <option value="3">3 звезды</option>
        </select>
    </div>

    <button class="end btn" type="submit">Подобрать отель</button>
</form>