<form action="#" class="filter-sidebar">
    <label>
        <input type="text" name="" placeholder="Откуда?">
        <i class="ico-search-gray"></i></label>
    <label>
        <input type="text" name="" placeholder="Куда?">
        <i class="ico-search-gray"></i></label>
    <div class="datepiker d-flex flex-column justify-content-between">
        <div class="d-flex justify-content-between">
            <label class="position-relative mb-0">
                <input type="text" name="" value="16 сентября" class="text-center">
                <i class="button-date position-absolute"></i></label>
            <div class="mx-1"></div>
            <label class="position-relative mb-0">
                <input type="text" name="" value="26 сентября" class="text-center">
                <i class="button-date position-absolute"></i></label>

        </div>
        <div class="d-flex justify-content-between">
            <div class="select-wrap w-100 mt-0">
                <select name="" id="" class="custom">
                    <option value="">взрослые 1</option>
                    <option value="">взрослые 2</option>
                    <option value="">взрослые 3</option>
                </select>

            </div>
            <div class="mx-1"></div>
            <div class="select-wrap w-100 mt-0">
                <select name="" id="" class="custom">
                    <option value="">дети 1</option>
                    <option value="">дети 2</option>
                    <option value="">дети 3</option>
                </select>

            </div>
        </div>
    </div>
    <div class="select-wrap d-flex w-100 mt-3 pt-0 align-items-center justify-content-between">
        <div class="w-50">Вид билета:</div>
        <select name="" id="type" class="custom">
            <option value="">Бизнес-класс</option>
            <option value="">Эконом-класс</option>
            <option value="">Туристический</option>
        </select>

    </div>
    <div class="d-flex row-button justify-content-between my-3">
        <span class="chb-wrap">
            <input type="checkbox" name="" id="pc1">
            <label for="pc1">только прямые</label>
            </span>
        <span class="chb-wrap">
            <input type="checkbox" name="" id="pc2">
            <label for="pc2">аэропорты рядом</label>
            </span>
    </div>
    <button class="end btn" type="submit">Подобрать авиабилеты</button>
</form>