<%
const c =[
{
title : 'Башня Сююмбике',
src : 'img/n1.png',
},
{
title : 'Национальный музей Республики Татарстан',
src : 'img/n2.png',
},
{
title : 'Башня Сююмбике',
src : 'img/n1.png',
},
{
title : 'Национальный музей Республики Татарстан',
src : 'img/n2.png',
},
{
title : 'Башня Сююмбике',
src : 'img/n1.png',
},
]
c.forEach(function(item) {%>

<div class="description-item mb-3">
    <figure> <a href=""> <img src="<%-item.src %>" alt=""></a> </figure>
    <article class="d-flex flex-column justify-content-between">
        <a href="" class="tour-link"><%-item.title %></a>
        <p class="news__el-date"><a href="">Россия, Казань</a></p>
        <div class="author__el-control fix"> <a href="" class="d-flex align-items-center"> <i class="sprite like mr-1"></i> 287 </a> </div>
    </article>
</div>
<%})%>