<table class="table th-yellow bordered">
    <thead>
    <tr>
        <th>Фотография</th>
        <th>Название тура</th>
        <th>Описание</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <figure>
            <img src="img/pic/n1.jpg" alt="">
            </figure>
        </td>
        <td class="text-center text-uppercase">Автомобильная экспедиция на Южный Урал</td>
        <td>Стартует каждый экипаж самостоятельно из Москвы. Встречаемся мы в начале нашего маршрута, в пункте назначения, который обговорим заранее и публикуем не позднее 16 июля. Предварительно: встреча со всеми участниками 21-го июля (вечером) - 22-го июля (утром). </td>
    </tr>
    <tr>
        <td>
            <figure>
                <img src="img/pic/n1.jpg" alt="">
            </figure>
        </td>
        <td class="text-center text-uppercase">Автомобильная экспедиция на Южный Урал</td>
        <td>Стартует каждый экипаж самостоятельно из Москвы. Встречаемся мы в начале нашего маршрута, в пункте назначения, который обговорим заранее и публикуем не позднее 16 июля. Предварительно: встреча со всеми участниками 21-го июля (вечером) - 22-го июля (утром). </td>
    </tr>
    <tr>
        <td>
            <figure>
                <img src="img/pic/n1.jpg" alt="">
            </figure>
        </td>
        <td class="text-center text-uppercase">Автомобильная экспедиция на Южный Урал</td>
        <td>Стартует каждый экипаж самостоятельно из Москвы. Встречаемся мы в начале нашего маршрута, в пункте назначения, который обговорим заранее и публикуем не позднее 16 июля. Предварительно: встреча со всеми участниками 21-го июля (вечером) - 22-го июля (утром). </td>
    </tr>
    </tbody>
</table>