<div class="tabs">
    <div class="tabs__hdr">
        <div class="tabs-link tabs__hdr-el curr">7 континентов</div>
        <div class="tabs-link tabs__hdr-el">Евразия</div>
        <div class="tabs-link tabs__hdr-el">fANTASY TRAVEL</div>
        <div class="tabs-link tabs__hdr-el">рУССКИЕ КАНИКУЛЫ</div>
    </div>

    <div class="tabs__body yellow curr">
        <div class="description-item wrap bordered">
            <figure><a href=""> <img src="img/pic/n1.jpg" alt=""></a></figure>
            <article class="description-item-article">
                <p class="tour-link">17.02.2018</p>
                <h3 class="text-base-red">Гора Шаманка в музее-заповеднике Аркаим</h3>
                <p>Гора Шаманка (или Шаманиха) - это древний палеовулкан. На этой горе туристы любят наблюдать закаты
                    и рассветы. На вершине горы находится каменная спираль из 13 кругов, символизирующая прохождение
                    цепи воплощений.
                    Считается, что если пройти по спирали босиком, то можно воссоединиться с древом своего рода, и
                    избавиться от грехов.
                    <a href="" class="gray ml-2 arrow"><i>подробнее</i></a></p>


            </article>
        </div>

        <div class="description-item wrap bordered">
            <figure><a href=""> <img src="img/pic/n1.jpg" alt=""></a></figure>
            <article class="description-item-article">
                <p class="tour-link">17.02.2018</p>
                <h3 class="text-base-red">Гора Шаманка в музее-заповеднике Аркаим</h3>
                <p>Гора Шаманка (или Шаманиха) - это древний палеовулкан.
                    На этой горе туристы любят наблюдать закаты и рассветы. На вершине горы находится каменная спираль
                    из 13 кругов,
                    символизирующая прохождение цепи воплощений. Считается, что если пройти по спирали босиком, то можно
                    воссоединиться
                    с древом своего рода, и избавиться от грехов. <a href=""
                                                                     class="base-red ml-2 arrow"><i>подробнее</i></a>
                </p>


            </article>
        </div>
        <div class="description-item wrap bordered">
            <figure><a href=""> <img src="img/pic/n1.jpg" alt=""></a></figure>
            <article class="description-item-article">
                <p class="tour-link">17.02.2018</p>
                <h3 class="text-base-red">Гора Шаманка в музее-заповеднике Аркаим</h3>
                <p>Гора Шаманка (или Шаманиха) - это древний палеовулкан. На этой горе туристы любят наблюдать
                    закаты и рассветы. На вершине горы находится каменная спираль из 13 кругов, символизирующая
                    прохождение цепи воплощений. Считается, что если пройти по спирали босиком, то можно воссоединиться
                    с древом своего рода, и избавиться от грехов. <a href=""
                                                                     class="base-red ml-2 u arrow"><i>подробнее</i></a>
                </p>


            </article>
        </div>
    </div>
    <div class="tabs__body">
        <p class="article__p">
            2Официальной датой возникновения Новгорода принято условно считать 859 год[6], исходя из упоминания города в
            поздней Никоновской летописи[7] (компиляция XVI века). При этом в самой летописи не сказано об основании
            города именно в этот год, но под годом 6367 (859 год) содержится запись о смерти Гостомысла, новгородского
            старейшины. Автором официальной даты основания города стал историк М. Н. Тихомиров, выступивший с докладом
            на научной конференции в Новгороде накануне 1959 года, что позволило отметить в тот год 1100-летие
            Новгорода.
        </p>
        <p class="article__p">
            В арабских источниках X века упоминается пункт ас-Славийа (Слава, Салау), как один из трёх центров русов
            наряду с Куйабой (Киевом) и Артанией (идентификация неясна). Полагают, что речь идёт о предшествовавшем
            Новгороду «старом городе» ильменских словен. Самое раннее иностранное упоминание Новгорода (Немогард)
            содержится в сочинении 949 года византийского императора Константина Багрянородного «Об управлении
            империей». В скандинавских сагах город называется — Холмгардом (Holmgard) столицей Гардарики, в германских
            источниках — Острогардом. Также здесь происходят основные действия эпического литературного произведения
            XVII века «Сказания о Словене и Русе и городе Словенске» и былины о Садко.
        </p>
    </div>
    <div class="tabs__body">
        <p class="article__p">
            3Официальной датой возникновения Новгорода принято условно считать 859 год[6], исходя из упоминания города в
            поздней Никоновской летописи[7] (компиляция XVI века). При этом в самой летописи не сказано об основании
            города именно в этот год, но под годом 6367 (859 год) содержится запись о смерти Гостомысла, новгородского
            старейшины. Автором официальной даты основания города стал историк М. Н. Тихомиров, выступивший с докладом
            на научной конференции в Новгороде накануне 1959 года, что позволило отметить в тот год 1100-летие
            Новгорода.
        </p>

    </div>
    <div class="tabs__body">
        <p class="article__p">
            В арабских источниках X века упоминается пункт ас-Славийа (Слава, Салау), как один из трёх центров русов
            наряду с Куйабой (Киевом) и Артанией (идентификация неясна). Полагают, что речь идёт о предшествовавшем
            Новгороду «старом городе» ильменских словен. Самое раннее иностранное упоминание Новгорода (Немогард)
            содержится в сочинении 949 года византийского императора Константина Багрянородного «Об управлении
            империей». В скандинавских сагах город называется — Холмгардом (Holmgard) столицей Гардарики, в германских
            источниках — Острогардом. Также здесь происходят основные действия эпического литературного произведения
            XVII века «Сказания о Словене и Русе и городе Словенске» и былины о Садко.
        </p>
    </div>
</div>