<div class="tabs">
    <div class="tabs__hdr">
        <div class="tabs-link tabs__hdr-el curr">описание</div>
        <div class="tabs-link tabs__hdr-el">номера</div>
        <div class="tabs-link tabs__hdr-el">фотогалерея</div>
        <div class="tabs-link tabs__hdr-el">тарифы</div>
        <div class="tabs-link tabs__hdr-el">контакты</div>
        <div class="tabs-link tabs__hdr-el">купить</div>
    </div>
    <div class="tabs__body curr yellow">
        <p class="article__p"> Новый современный гостиничный комплекс в Петрозаводске, расположенный на живописном
            берегу Онежского озера. «Онего Палас» – не только самое высокое здание в историческом и культурном центре
            столицы Карелии, но и самая большая, престижная и современная гостиница в городе. Гостям столицы потребуется
            всего 10 минут, чтобы добраться до отеля от железнодорожного вокзала, и 30 минут – от аэропорта «Бесовец».
            Мы рады предложить нашим гостям 103 уютных номера различных категорий для комфортного проживания и отдыха :
            стандартные одноместные и двухместные, сюиты, апартаменты и нашу гордость – номера класса «Люкс». Элегантная
            классика, великолепие и оригинальный карельский колорит соединены в интерьерах и обстановке гостиницы. </p>
        <div class="row">
            <div class="col-6">
                <p class="tabs-title"><strong class="text-base-red">В номерах</strong></p>
                <ul class="list">
                    <li><span>56 номеров, включая 4 сьюта</span></li>
                    <li><span>2 номера для людей с ограниченной подвижностью</span></li>
                    <li><span>9 номеров для некурящих</span></li>
                    <li><span>приспособления для людей с ограниченной подвижностью</span></li>
                    <li><span>большинство номеров с балконами</span></li>
                    <li><span>лифт</span></li>
                    <li><span>ресторан</span></li>
                    <li><span>бар</span></li>
                    <li><span>залы для заседаний</span></li>
                    <li><span>бассейн </span></li>
                    <li><span>фитнес-комната</span></li>
                    <li><span>сауна</span></li>
                    <li><span>Wi-fi, интернет</span></li>
                    <li><span>парковка</span></li>
                    <li><span>прачечная</span></li>
                    <li><span>принимаются кредитные карты</span></li>
                    <li><span>обмен валюты</span></li>
                    <li><span>животные допускаются</span></li>
                </ul>
            </div>
            <div class="col-6">
                <p class="tabs-title"><strong class="text-base-red">Номера Standart</strong></p>
                <p>Открытый бассейн с подогревае мой водой работает круглый год.Сауна, хамам, фитнес-комната.</p>
                <p class="tabs-title"><strong class="text-base-red">Номера Delux</strong></p>
                <p>3 салона подходят для деловых встреч, конференций, приемов и других торжественных мероприятий. Зал
                    Aiguille Verte (45 кв.м.) расположен на втором этаже отеля и может вместить до 60 человек для
                    банкета. Зал Brevent (25 кв.м.) также расположен на втором этаже и может вместить до 20 человек для
                    семинара. Этот зал соединяется с залом Aiguille Verte. Зал Petite Salle (30 кв.м.) идеально подходит
                    для встреч небольшими группами. Зал расположен на первом этаже и может вместить до 10 человек для
                    деловой встречи. Салоны оборудованы доской для бумаг, оверхед-проектором, телефоном, разъемами для
                    подключения компьютера и модема, экраном, телевизором и видеомагнитофоном. Любое другое оборудование
                    предоставляется по запросу.</p>
                <p class="tabs-title"><strong class="text-base-red">Аpartments</strong></p>
                <p>Зал Aiguille Verte (45 кв.м.) расположен на втором этаже отеля и может вместить до 60 человек для
                    банкета. Зал Brevent (25 кв.м.) также расположен на втором этаже и может вместить до 20 человек для
                    семинара. Этот зал соединяется с залом Aiguille Verte. Зал Petite Salle (30 кв.м.)</p>
            </div>
        </div>
    </div>
    <div class="tabs__body yellow">
        <div class="wrap bordered">
            <p class="article__p">Номера оснащены всеми необходимыми техническими средствами: телефоном, спутниковым
                телевидением, Интернетом и системой кондиционирования, в стоимость номера включен завтрак (шведский
                стол). Количество номеров в отеле - 236 номеров: одноместные, двухместные, 7 смежных номеров (два
                двухместных номера, соединенных дополнительной дверью), апартаменты, 6 апартаментов-люкс.</p>
            <p class="article__p">В номерах отеля осуществляется кондиционирование воздуха. Кондиционер имеет несколько
                режимов работы как на тепло, так и на холод, что обеспечивает комфорт в любую погоду.
                За отдельную плату предоставляется мини-бар, в котором вы можете найти спиртные напитки на любой вкус.
                Размер оплату вы можете узнать на ресепшене.</p>
            <p class="article__p">Возможность совершать звонки как внутри отеля (ресепшн, заказ такси), так и местная и
                международная связь. Услуга международной связи может предоставляться за отдельную плату. Просьба
                уточнять стоимость этой услуги в отеле.</p>
            <p class="article__p">В ванной комнате отеля располагается ванная, туалет, душ. Ванная комната оснашена
                современным сантехническим оборудованием.</p>
        </div>
        <!--1-->
        <div class="wrap bordered">
            <h2 class="standart__h2 dark">1-местные номера</h2>
            <div class="slider-wrap">
                <div class="slider-for slider-for1">
                    <div>
                        <figure><img src="pic/s1-b.jpg" alt="" width="685" height="407"></figure>
                    </div>
                    <div>
                        <figure><img src="pic/s3.1-b.jpg" alt="" width="685" height="407"></figure>
                    </div>
                    <div>
                        <figure><img src="pic/s3-b.jpg" alt="" width="685" height="407"></figure>
                    </div>
                    <div>
                        <figure><img src="pic/s1-b.jpg" alt="" width="685" height="407"></figure>
                    </div>
                    <div>
                        <figure><img src="pic/s1-b.jpg" alt="" width="685" height="407"></figure>
                    </div>
                    <div>
                        <figure><img src="pic/s1-b.jpg" alt="" width="685" height="407"></figure>
                    </div>
                </div>
                <div class="card-slider-nav card-slider-nav1">
                    <div>
                        <figure><img src="pic/s1.jpg" alt="" width="109" height="77"></figure>
                        <p><strong>Вид 1 </strong></p>
                    </div>
                    <div>
                        <figure><img src="pic/s2.jpg" alt="" width="109" height="77"></figure>
                        <p><strong>Вид 2</strong></p>
                    </div>
                    <div>
                        <figure><img src="pic/s3.jpg" alt="" width="109" height="77"></figure>
                        <p><strong>Вид 2</strong></p>
                    </div>
                    <div>
                        <figure><img src="pic/s4.jpg" alt="" width="109" height="77"></figure>
                        <p><strong>Вид 3</strong></p>
                    </div>
                    <div>
                        <figure><img src="pic/s1.jpg" alt="" width="109" height="77"></figure>
                        <p><strong>Вид 4</strong></p>
                    </div>
                    <div>
                        <figure><img src="pic/s2.jpg" alt="" width="109" height="77"></figure>
                        <p><strong>Вид 5</strong></p>
                    </div>
                </div>
            </div>
            <p class="article__p">Площадь от 30 кв.м. Максимально в номере - 4 человека. Расположен в 1-ом корпусе на 2
                этаже. В номере имеется балкон-лоджия. Вид из окна на озеро.</p>
            <div class="article-wrap">
                <article>
                    <p class="tabs-title"><strong class="red">В номере:</strong></p>
                    <ul class="list">
                        <li><span>двуспальная кровать</span></li>
                        <li><span>две прикроватные тумбы </span></li>
                        <li><span>шкаф, комод, кресло</span></li>
                        <li><span>телевизор, мини-бар, кондиционер, телефон</span></li>
                        <li><span>джакузи в спальне</span></li>
                    </ul>
                </article>
                <article>
                    <p class="tabs-title"><strong class="red">В ванной комнате:</strong></p>
                    <ul class="list">
                        <li><span>душевая кабина, туалет, биде</span></li>
                        <li><span>фен, телефон</span></li>
                    </ul>
                    <p class="tabs-title"><strong class="red">Также в номере:</strong></p>
                    <ul class="list">
                        <li><span>чайник, чай, кофе, сахар, халат, тапочки </span></li>
                    </ul>
                </article>
            </div>
            <div class="end no_border"><a href="">Забронировать</a></div>
        </div>
        <!--end 1-->
        <!--2-->
        <div class="wrap bordered">
            <h2 class="standart__h2 dark">2-местные номера</h2>
            <div class="slider-wrap">
                <div class="slider-for slider-for2">
                    <div>
                        <figure><img src="pic/s2.1-b.jpg" alt="" width="685" height="407"></figure>
                    </div>
                    <div>
                        <figure><img src="pic/s2-b.jpg" alt="" width="685" height="407"></figure>
                    </div>
                    <div>
                        <figure><img src="pic/s3-b.jpg" alt="" width="685" height="407"></figure>
                    </div>
                    <div>
                        <figure><img src="pic/s1-b.jpg" alt="" width="685" height="407"></figure>
                    </div>
                    <div>
                        <figure><img src="pic/s1-b.jpg" alt="" width="685" height="407"></figure>
                    </div>
                    <div>
                        <figure><img src="pic/s1-b.jpg" alt="" width="685" height="407"></figure>
                    </div>
                </div>
                <div class="card-slider-nav card-slider-nav2">
                    <div>
                        <figure><img src="pic/s3.1-b.jpg" alt="" width="109" height="77"></figure>
                        <p><strong>Вид 1 </strong></p>
                    </div>
                    <div>
                        <figure><img src="pic/s2.jpg" alt="" width="109" height="77"></figure>
                        <p><strong>Вид 2</strong></p>
                    </div>
                    <div>
                        <figure><img src="pic/s3.jpg" alt="" width="109" height="77"></figure>
                        <p><strong>Вид 2</strong></p>
                    </div>
                    <div>
                        <figure><img src="pic/s4.jpg" alt="" width="109" height="77"></figure>
                        <p><strong>Вид 3</strong></p>
                    </div>
                    <div>
                        <figure><img src="pic/s1.jpg" alt="" width="109" height="77"></figure>
                        <p><strong>Вид 4</strong></p>
                    </div>
                    <div>
                        <figure><img src="pic/s2.jpg" alt="" width="109" height="77"></figure>
                        <p><strong>Вид 5</strong></p>
                    </div>
                </div>
            </div>
            <p class="article__p">Площадь от 30 кв.м. Максимально в номере - 4 человека. Расположен в 1-ом корпусе на 2
                этаже. В номере имеется балкон-лоджия. Вид из окна на озеро.</p>
            <div class="article-wrap">
                <article>
                    <p class="tabs-title"><strong class="red">В номере:</strong></p>
                    <ul class="list">
                        <li><span>двуспальная кровать</span></li>
                        <li><span>две прикроватные тумбы </span></li>
                        <li><span>шкаф, комод, кресло</span></li>
                        <li><span>телевизор, мини-бар, кондиционер, телефон</span></li>
                        <li><span>джакузи в спальне</span></li>
                    </ul>
                </article>
                <article>
                    <p class="tabs-title"><strong class="red">В ванной комнате:</strong></p>
                    <ul class="list">
                        <li><span>душевая кабина, туалет, биде</span></li>
                        <li><span>фен, телефон</span></li>
                    </ul>
                    <p class="tabs-title"><strong class="red">Также в номере:</strong></p>
                    <ul class="list">
                        <li><span>чайник, чай, кофе, сахар, халат, тапочки </span></li>
                    </ul>
                </article>
            </div>
            <div class="end no_border"><a href="">Забронировать</a></div>
        </div>
        <!--end 2-->
        <!--3-->
        <div class="wrap">
            <h2 class="standart__h2 dark">Apartments</h2>
            <div class="slider-wrap">
                <div class="slider-for slider-for3">
                    <div>
                        <figure><img src="pic/s1-b.jpg" alt="" width="685" height="407"></figure>
                    </div>
                    <div>
                        <figure><img src="pic/s2.1-b.jpg" alt="" width="685" height="407"></figure>
                    </div>
                    <div>
                        <figure><img src="pic/s3.1-b.jpg" alt="" width="685" height="407"></figure>
                    </div>
                    <div>
                        <figure><img src="pic/s1-b.jpg" alt="" width="685" height="407"></figure>
                    </div>
                    <div>
                        <figure><img src="pic/s2.1-b.jpg" alt="" width="685" height="407"></figure>
                    </div>
                    <div>
                        <figure><img src="pic/s3.1-b.jpg" alt="" width="685" height="407"></figure>
                    </div>
                </div>
                <div class="card-slider-nav card-slider-nav3">
                    <div>
                        <figure><img src="pic/s1.jpg" alt="" width="109" height="77"></figure>
                        <p><strong>Вид 1 </strong></p>
                    </div>
                    <div>
                        <figure><img src="pic/s2.jpg" alt="" width="109" height="77"></figure>
                        <p><strong>Вид 2</strong></p>
                    </div>
                    <div>
                        <figure><img src="pic/s3.jpg" alt="" width="109" height="77"></figure>
                        <p><strong>Вид 2</strong></p>
                    </div>
                    <div>
                        <figure><img src="pic/s4.jpg" alt="" width="109" height="77"></figure>
                        <p><strong>Вид 3</strong></p>
                    </div>
                    <div>
                        <figure><img src="pic/s1.jpg" alt="" width="109" height="77"></figure>
                        <p><strong>Вид 4</strong></p>
                    </div>
                    <div>
                        <figure><img src="pic/s2.jpg" alt="" width="109" height="77"></figure>
                        <p><strong>Вид 5</strong></p>
                    </div>
                </div>
            </div>
            <p class="article__p">Площадь от 30 кв.м. Максимально в номере - 4 человека. Расположен в 1-ом корпусе на 2
                этаже. В номере имеется балкон-лоджия. Вид из окна на озеро.</p>
            <div class="article-wrap">
                <article>
                    <p class="tabs-title"><strong class="red">В номере:</strong></p>
                    <ul class="list">
                        <li><span>двуспальная кровать</span></li>
                        <li><span>две прикроватные тумбы </span></li>
                        <li><span>шкаф, комод, кресло</span></li>
                        <li><span>телевизор, мини-бар, кондиционер, телефон</span></li>
                        <li><span>джакузи в спальне</span></li>
                    </ul>
                </article>
                <article>
                    <p class="tabs-title"><strong class="red">В ванной комнате:</strong></p>
                    <ul class="list">
                        <li><span>душевая кабина, туалет, биде</span></li>
                        <li><span>фен, телефон</span></li>
                    </ul>
                    <p class="tabs-title"><strong class="red">Также в номере:</strong></p>
                    <ul class="list">
                        <li><span>чайник, чай, кофе, сахар, халат, тапочки </span></li>
                    </ul>
                </article>
            </div>
            <div class="end no_border"><a href="">Забронировать</a></div>
        </div>
        <!--end 3-->
    </div>
    <div class="tabs__body yellow">
        <div class="wrap bordered">
            <h2 class="standart__h2">Природа</h2>
            <div class="books-item">
                <div class="f_wrap">
                    <figure>
                        <a href=""><img src="pic/nat1.jpg" alt=""></a></figure>

                    <p class="addres"><strong><a href="">Главное здание</a></strong></p>
                </div>

            </div>
            <div class="books-item">
                <div class="f_wrap">
                    <figure>
                        <a href=""><img src="pic/nat2.jpg" alt=""></a></figure>

                    <p class="addres"><strong><a href="">Ресепшн </a></strong></p>
                </div>

            </div>
            <div class="books-item">
                <div class="f_wrap">
                    <figure>
                        <a href=""><img src="pic/nat3.jpg" alt=""> </a></figure>

                    <p class="addres"><strong><a href="">Холл 1</a></strong></p>
                </div>

            </div>
            <div class="books-item">
                <div class="f_wrap">
                    <figure>
                        <a href=""><img src="pic/nat4.jpg" alt=""></a></figure>

                    <p class="addres"><strong><a href="">Холл 2</a></strong></p>
                </div>

            </div>
            <div class="end no_border"><a href="">Подробнее</a></div>
        </div>
        <div class="wrap bordered">
            <h2 class="standart__h2">Номера отеля</h2>
            <div class="books-item">
                <div class="f_wrap">
                    <figure>
                        <a href=""><img src="pic/nat1.jpg" alt=""></a></figure>

                    <p class="addres"><strong><a href="">Главное здание</a></strong></p>
                </div>

            </div>
            <div class="books-item">
                <div class="f_wrap">
                    <figure>
                        <a href=""><img src="pic/nat2.jpg" alt=""></a></figure>

                    <p class="addres"><strong><a href="">Ресепшн </a></strong></p>
                </div>

            </div>
            <div class="books-item">
                <div class="f_wrap">
                    <figure>
                        <a href=""><img src="pic/nat3.jpg" alt=""> </a></figure>

                    <p class="addres"><strong><a href="">Холл 1</a></strong></p>
                </div>

            </div>
            <div class="books-item">
                <div class="f_wrap">
                    <figure>
                        <a href=""><img src="pic/nat4.jpg" alt=""></a></figure>

                    <p class="addres"><strong><a href="">Холл 2</a></strong></p>
                </div>

            </div>
            <div class="end no_border"><a href="">Подробнее</a></div>
        </div>
        <div class="wrap bordered">
            <h2 class="standart__h2">Рестораны и бары</h2>
            <div class="books-item">
                <div class="f_wrap">
                    <figure>
                        <a href=""><img src="pic/nat1.jpg" alt=""></a></figure>

                    <p class="addres"><strong><a href="">Главное здание</a></strong></p>
                </div>

            </div>
            <div class="books-item">
                <div class="f_wrap">
                    <figure>
                        <a href=""><img src="pic/nat2.jpg" alt=""></a></figure>

                    <p class="addres"><strong><a href="">Ресепшн </a></strong></p>
                </div>

            </div>
            <div class="books-item">
                <div class="f_wrap">
                    <figure>
                        <a href=""><img src="pic/nat3.jpg" alt=""> </a></figure>

                    <p class="addres"><strong><a href="">Холл 1</a></strong></p>
                </div>

            </div>
            <div class="books-item">
                <div class="f_wrap">
                    <figure>
                        <a href=""><img src="pic/nat4.jpg" alt=""></a></figure>

                    <p class="addres"><strong><a href="">Холл 2</a></strong></p>
                </div>

            </div>
            <div class="end no_border"><a href="">Подробнее</a></div>
        </div>
        <div class="wrap">
            <h2 class="standart__h2">Отдых и развлечения</h2>
            <div class="books-item">
                <div class="f_wrap">
                    <figure>
                        <a href=""><img src="pic/nat1.jpg" alt=""></a></figure>

                    <p class="addres"><strong><a href="">Главное здание</a></strong></p>
                </div>

            </div>
            <div class="books-item">
                <div class="f_wrap">
                    <figure>
                        <a href=""><img src="pic/nat2.jpg" alt=""></a></figure>

                    <p class="addres"><strong><a href="">Ресепшн </a></strong></p>
                </div>

            </div>
            <div class="books-item">
                <div class="f_wrap">
                    <figure>
                        <a href=""><img src="pic/nat3.jpg" alt=""> </a></figure>

                    <p class="addres"><strong><a href="">Холл 1</a></strong></p>
                </div>

            </div>
            <div class="books-item">
                <div class="f_wrap">
                    <figure>
                        <a href=""><img src="pic/nat4.jpg" alt=""></a></figure>

                    <p class="addres"><strong><a href="">Холл 2</a></strong></p>
                </div>

            </div>
            <div class="end no_border"><a href="">Подробнее</a></div>
        </div>
    </div>
    <div class="tabs__body yellow"></div>
    <div class="tabs__body yellow"></div>
    <div class="tabs__body yellow"></div>
</div>