html, body{
	height: 100%;
}
body{
	font-family: $base-font;
	color: $base-font-color;
	font-size: $base-font-size;
	background-color: #fff;
	background-image: url(../img/bg.png);
	background-repeat: repeat-x;
	background-position: 0 0;
	line-height: 1.2;
	display: flex;
	flex-direction: column;
	-webkit-font-smoothing: antialiased;
}

header{
	flex: 0 0 auto;
}
main{
	width: 100%;
}

.container{
	min-width: 975px;
	max-width: 1300px;
	flex: 1 0 auto;
}

footer {
	flex: 0 0 auto;
}






