// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$afterordinary-name: 'afterordinary';
$afterordinary-x: 296px;
$afterordinary-y: 161px;
$afterordinary-offset-x: -296px;
$afterordinary-offset-y: -161px;
$afterordinary-width: 5px;
$afterordinary-height: 6px;
$afterordinary-total-width: 305px;
$afterordinary-total-height: 291px;
$afterordinary-image: '../img/sprite.png';
$afterordinary: (296px, 161px, -296px, -161px, 5px, 6px, 305px, 291px, '../img/sprite.png', 'afterordinary', );
$all-name: 'all';
$all-x: 0px;
$all-y: 0px;
$all-offset-x: 0px;
$all-offset-y: 0px;
$all-width: 67px;
$all-height: 72px;
$all-total-width: 305px;
$all-total-height: 291px;
$all-image: '../img/sprite.png';
$all: (0px, 0px, 0px, 0px, 67px, 72px, 305px, 291px, '../img/sprite.png', 'all', );
$bay-name: 'bay';
$bay-x: 152px;
$bay-y: 151px;
$bay-offset-x: -152px;
$bay-offset-y: -151px;
$bay-width: 21px;
$bay-height: 20px;
$bay-total-width: 305px;
$bay-total-height: 291px;
$bay-image: '../img/sprite.png';
$bay: (152px, 151px, -152px, -151px, 21px, 20px, 305px, 291px, '../img/sprite.png', 'bay', );
$beforeordinary-name: 'beforeordinary';
$beforeordinary-x: 263px;
$beforeordinary-y: 113px;
$beforeordinary-offset-x: -263px;
$beforeordinary-offset-y: -113px;
$beforeordinary-width: 4px;
$beforeordinary-height: 38px;
$beforeordinary-total-width: 305px;
$beforeordinary-total-height: 291px;
$beforeordinary-image: '../img/sprite.png';
$beforeordinary: (263px, 113px, -263px, -113px, 4px, 38px, 305px, 291px, '../img/sprite.png', 'beforeordinary', );
$best-name: 'best';
$best-x: 72px;
$best-y: 0px;
$best-offset-x: -72px;
$best-offset-y: 0px;
$best-width: 67px;
$best-height: 72px;
$best-total-width: 305px;
$best-total-height: 291px;
$best-image: '../img/sprite.png';
$best: (72px, 0px, -72px, 0px, 67px, 72px, 305px, 291px, '../img/sprite.png', 'best', );
$c-of-b-name: 'c-of-b';
$c-of-b-x: 50px;
$c-of-b-y: 151px;
$c-of-b-offset-x: -50px;
$c-of-b-offset-y: -151px;
$c-of-b-width: 29px;
$c-of-b-height: 28px;
$c-of-b-total-width: 305px;
$c-of-b-total-height: 291px;
$c-of-b-image: '../img/sprite.png';
$c-of-b: (50px, 151px, -50px, -151px, 29px, 28px, 305px, 291px, '../img/sprite.png', 'c-of-b', );
$c-on-name: 'c-on';
$c-on-x: 25px;
$c-on-y: 226px;
$c-on-offset-x: -25px;
$c-on-offset-y: -226px;
$c-on-width: 20px;
$c-on-height: 20px;
$c-on-total-width: 305px;
$c-on-total-height: 291px;
$c-on-image: '../img/sprite.png';
$c-on: (25px, 226px, -25px, -226px, 20px, 20px, 305px, 291px, '../img/sprite.png', 'c-on', );
$calendar-name: 'calendar';
$calendar-x: 32px;
$calendar-y: 274px;
$calendar-offset-x: -32px;
$calendar-offset-y: -274px;
$calendar-width: 11px;
$calendar-height: 12px;
$calendar-total-width: 305px;
$calendar-total-height: 291px;
$calendar-image: '../img/sprite.png';
$calendar: (32px, 274px, -32px, -274px, 11px, 12px, 305px, 291px, '../img/sprite.png', 'calendar', );
$ch1-h-name: 'ch1-h';
$ch1-h-x: 0px;
$ch1-h-y: 251px;
$ch1-h-offset-x: 0px;
$ch1-h-offset-y: -251px;
$ch1-h-width: 17px;
$ch1-h-height: 18px;
$ch1-h-total-width: 305px;
$ch1-h-total-height: 291px;
$ch1-h-image: '../img/sprite.png';
$ch1-h: (0px, 251px, 0px, -251px, 17px, 18px, 305px, 291px, '../img/sprite.png', 'ch1-h', );
$ch1-name: 'ch1';
$ch1-x: 241px;
$ch1-y: 226px;
$ch1-offset-x: -241px;
$ch1-offset-y: -226px;
$ch1-width: 17px;
$ch1-height: 18px;
$ch1-total-width: 305px;
$ch1-total-height: 291px;
$ch1-image: '../img/sprite.png';
$ch1: (241px, 226px, -241px, -226px, 17px, 18px, 305px, 291px, '../img/sprite.png', 'ch1', );
$ch10-h-name: 'ch10-h';
$ch10-h-x: 208px;
$ch10-h-y: 203px;
$ch10-h-offset-x: -208px;
$ch10-h-offset-y: -203px;
$ch10-h-width: 19px;
$ch10-h-height: 18px;
$ch10-h-total-width: 305px;
$ch10-h-total-height: 291px;
$ch10-h-image: '../img/sprite.png';
$ch10-h: (208px, 203px, -208px, -203px, 19px, 18px, 305px, 291px, '../img/sprite.png', 'ch10-h', );
$ch10-name: 'ch10';
$ch10-x: 232px;
$ch10-y: 203px;
$ch10-offset-x: -232px;
$ch10-offset-y: -203px;
$ch10-width: 19px;
$ch10-height: 18px;
$ch10-total-width: 305px;
$ch10-total-height: 291px;
$ch10-image: '../img/sprite.png';
$ch10: (232px, 203px, -232px, -203px, 19px, 18px, 305px, 291px, '../img/sprite.png', 'ch10', );
$ch11-h-name: 'ch11-h';
$ch11-h-x: 100px;
$ch11-h-y: 226px;
$ch11-h-offset-x: -100px;
$ch11-h-offset-y: -226px;
$ch11-h-width: 19px;
$ch11-h-height: 18px;
$ch11-h-total-width: 305px;
$ch11-h-total-height: 291px;
$ch11-h-image: '../img/sprite.png';
$ch11-h: (100px, 226px, -100px, -226px, 19px, 18px, 305px, 291px, '../img/sprite.png', 'ch11-h', );
$ch11-name: 'ch11';
$ch11-x: 124px;
$ch11-y: 226px;
$ch11-offset-x: -124px;
$ch11-offset-y: -226px;
$ch11-width: 19px;
$ch11-height: 18px;
$ch11-total-width: 305px;
$ch11-total-height: 291px;
$ch11-image: '../img/sprite.png';
$ch11: (124px, 226px, -124px, -226px, 19px, 18px, 305px, 291px, '../img/sprite.png', 'ch11', );
$ch12-h-name: 'ch12-h';
$ch12-h-x: 218px;
$ch12-h-y: 226px;
$ch12-h-offset-x: -218px;
$ch12-h-offset-y: -226px;
$ch12-h-width: 18px;
$ch12-h-height: 18px;
$ch12-h-total-width: 305px;
$ch12-h-total-height: 291px;
$ch12-h-image: '../img/sprite.png';
$ch12-h: (218px, 226px, -218px, -226px, 18px, 18px, 305px, 291px, '../img/sprite.png', 'ch12-h', );
$ch12-name: 'ch12';
$ch12-x: 172px;
$ch12-y: 226px;
$ch12-offset-x: -172px;
$ch12-offset-y: -226px;
$ch12-width: 18px;
$ch12-height: 18px;
$ch12-total-width: 305px;
$ch12-total-height: 291px;
$ch12-image: '../img/sprite.png';
$ch12: (172px, 226px, -172px, -226px, 18px, 18px, 305px, 291px, '../img/sprite.png', 'ch12', );
$ch13-h-name: 'ch13-h';
$ch13-h-x: 275px;
$ch13-h-y: 184px;
$ch13-h-offset-x: -275px;
$ch13-h-offset-y: -184px;
$ch13-h-width: 14px;
$ch13-h-height: 18px;
$ch13-h-total-width: 305px;
$ch13-h-total-height: 291px;
$ch13-h-image: '../img/sprite.png';
$ch13-h: (275px, 184px, -275px, -184px, 14px, 18px, 305px, 291px, '../img/sprite.png', 'ch13-h', );
$ch13-name: 'ch13';
$ch13-x: 275px;
$ch13-y: 161px;
$ch13-offset-x: -275px;
$ch13-offset-y: -161px;
$ch13-width: 14px;
$ch13-height: 18px;
$ch13-total-width: 305px;
$ch13-total-height: 291px;
$ch13-image: '../img/sprite.png';
$ch13: (275px, 161px, -275px, -161px, 14px, 18px, 305px, 291px, '../img/sprite.png', 'ch13', );
$ch14-h-name: 'ch14-h';
$ch14-h-x: 83px;
$ch14-h-y: 203px;
$ch14-h-offset-x: -83px;
$ch14-h-offset-y: -203px;
$ch14-h-width: 22px;
$ch14-h-height: 18px;
$ch14-h-total-width: 305px;
$ch14-h-total-height: 291px;
$ch14-h-image: '../img/sprite.png';
$ch14-h: (83px, 203px, -83px, -203px, 22px, 18px, 305px, 291px, '../img/sprite.png', 'ch14-h', );
$ch14-name: 'ch14';
$ch14-x: 56px;
$ch14-y: 203px;
$ch14-offset-x: -56px;
$ch14-offset-y: -203px;
$ch14-width: 22px;
$ch14-height: 18px;
$ch14-total-width: 305px;
$ch14-total-height: 291px;
$ch14-image: '../img/sprite.png';
$ch14: (56px, 203px, -56px, -203px, 22px, 18px, 305px, 291px, '../img/sprite.png', 'ch14', );
$ch15-h-name: 'ch15-h';
$ch15-h-x: 50px;
$ch15-h-y: 226px;
$ch15-h-offset-x: -50px;
$ch15-h-offset-y: -226px;
$ch15-h-width: 21px;
$ch15-h-height: 19px;
$ch15-h-total-width: 305px;
$ch15-h-total-height: 291px;
$ch15-h-image: '../img/sprite.png';
$ch15-h: (50px, 226px, -50px, -226px, 21px, 19px, 305px, 291px, '../img/sprite.png', 'ch15-h', );
$ch2-h-name: 'ch2-h';
$ch2-h-x: 136px;
$ch2-h-y: 203px;
$ch2-h-offset-x: -136px;
$ch2-h-offset-y: -203px;
$ch2-h-width: 19px;
$ch2-h-height: 18px;
$ch2-h-total-width: 305px;
$ch2-h-total-height: 291px;
$ch2-h-image: '../img/sprite.png';
$ch2-h: (136px, 203px, -136px, -203px, 19px, 18px, 305px, 291px, '../img/sprite.png', 'ch2-h', );
$ch2-name: 'ch2';
$ch2-x: 76px;
$ch2-y: 226px;
$ch2-offset-x: -76px;
$ch2-offset-y: -226px;
$ch2-width: 19px;
$ch2-height: 18px;
$ch2-total-width: 305px;
$ch2-total-height: 291px;
$ch2-image: '../img/sprite.png';
$ch2: (76px, 226px, -76px, -226px, 19px, 18px, 305px, 291px, '../img/sprite.png', 'ch2', );
$ch3-h-name: 'ch3-h';
$ch3-h-x: 184px;
$ch3-h-y: 203px;
$ch3-h-offset-x: -184px;
$ch3-h-offset-y: -203px;
$ch3-h-width: 19px;
$ch3-h-height: 18px;
$ch3-h-total-width: 305px;
$ch3-h-total-height: 291px;
$ch3-h-image: '../img/sprite.png';
$ch3-h: (184px, 203px, -184px, -203px, 19px, 18px, 305px, 291px, '../img/sprite.png', 'ch3-h', );
$ch3-name: 'ch3';
$ch3-x: 148px;
$ch3-y: 226px;
$ch3-offset-x: -148px;
$ch3-offset-y: -226px;
$ch3-width: 19px;
$ch3-height: 18px;
$ch3-total-width: 305px;
$ch3-total-height: 291px;
$ch3-image: '../img/sprite.png';
$ch3: (148px, 226px, -148px, -226px, 19px, 18px, 305px, 291px, '../img/sprite.png', 'ch3', );
$ch4-h-name: 'ch4-h';
$ch4-h-x: 28px;
$ch4-h-y: 203px;
$ch4-h-offset-x: -28px;
$ch4-h-offset-y: -203px;
$ch4-h-width: 23px;
$ch4-h-height: 18px;
$ch4-h-total-width: 305px;
$ch4-h-total-height: 291px;
$ch4-h-image: '../img/sprite.png';
$ch4-h: (28px, 203px, -28px, -203px, 23px, 18px, 305px, 291px, '../img/sprite.png', 'ch4-h', );
$ch4-name: 'ch4';
$ch4-x: 0px;
$ch4-y: 203px;
$ch4-offset-x: 0px;
$ch4-offset-y: -203px;
$ch4-width: 23px;
$ch4-height: 18px;
$ch4-total-width: 305px;
$ch4-total-height: 291px;
$ch4-image: '../img/sprite.png';
$ch4: (0px, 203px, 0px, -203px, 23px, 18px, 305px, 291px, '../img/sprite.png', 'ch4', );
$ch5-h-name: 'ch5-h';
$ch5-h-x: 275px;
$ch5-h-y: 92px;
$ch5-h-offset-x: -275px;
$ch5-h-offset-y: -92px;
$ch5-h-width: 16px;
$ch5-h-height: 18px;
$ch5-h-total-width: 305px;
$ch5-h-total-height: 291px;
$ch5-h-image: '../img/sprite.png';
$ch5-h: (275px, 92px, -275px, -92px, 16px, 18px, 305px, 291px, '../img/sprite.png', 'ch5-h', );
$ch5-name: 'ch5';
$ch5-x: 275px;
$ch5-y: 46px;
$ch5-offset-x: -275px;
$ch5-offset-y: -46px;
$ch5-width: 16px;
$ch5-height: 18px;
$ch5-total-width: 305px;
$ch5-total-height: 291px;
$ch5-image: '../img/sprite.png';
$ch5: (275px, 46px, -275px, -46px, 16px, 18px, 305px, 291px, '../img/sprite.png', 'ch5', );
$ch6-h-name: 'ch6-h';
$ch6-h-x: 275px;
$ch6-h-y: 249px;
$ch6-h-offset-x: -275px;
$ch6-h-offset-y: -249px;
$ch6-h-width: 14px;
$ch6-h-height: 15px;
$ch6-h-total-width: 305px;
$ch6-h-total-height: 291px;
$ch6-h-image: '../img/sprite.png';
$ch6-h: (275px, 249px, -275px, -249px, 14px, 15px, 305px, 291px, '../img/sprite.png', 'ch6-h', );
$ch6-name: 'ch6';
$ch6-x: 275px;
$ch6-y: 69px;
$ch6-offset-x: -275px;
$ch6-offset-y: -69px;
$ch6-width: 16px;
$ch6-height: 18px;
$ch6-total-width: 305px;
$ch6-total-height: 291px;
$ch6-image: '../img/sprite.png';
$ch6: (275px, 69px, -275px, -69px, 16px, 18px, 305px, 291px, '../img/sprite.png', 'ch6', );
$ch7-h-name: 'ch7-h';
$ch7-h-x: 73px;
$ch7-h-y: 184px;
$ch7-h-offset-x: -73px;
$ch7-h-offset-y: -184px;
$ch7-h-width: 21px;
$ch7-h-height: 11px;
$ch7-h-total-width: 305px;
$ch7-h-total-height: 291px;
$ch7-h-image: '../img/sprite.png';
$ch7-h: (73px, 184px, -73px, -184px, 21px, 11px, 305px, 291px, '../img/sprite.png', 'ch7-h', );
$ch7-name: 'ch7';
$ch7-x: 110px;
$ch7-y: 203px;
$ch7-offset-x: -110px;
$ch7-offset-y: -203px;
$ch7-width: 21px;
$ch7-height: 18px;
$ch7-total-width: 305px;
$ch7-total-height: 291px;
$ch7-image: '../img/sprite.png';
$ch7: (110px, 203px, -110px, -203px, 21px, 18px, 305px, 291px, '../img/sprite.png', 'ch7', );
$ch8-h-name: 'ch8-h';
$ch8-h-x: 275px;
$ch8-h-y: 115px;
$ch8-h-offset-x: -275px;
$ch8-h-offset-y: -115px;
$ch8-h-width: 15px;
$ch8-h-height: 18px;
$ch8-h-total-width: 305px;
$ch8-h-total-height: 291px;
$ch8-h-image: '../img/sprite.png';
$ch8-h: (275px, 115px, -275px, -115px, 15px, 18px, 305px, 291px, '../img/sprite.png', 'ch8-h', );
$ch8-name: 'ch8';
$ch8-x: 275px;
$ch8-y: 138px;
$ch8-offset-x: -275px;
$ch8-offset-y: -138px;
$ch8-width: 15px;
$ch8-height: 18px;
$ch8-total-width: 305px;
$ch8-total-height: 291px;
$ch8-image: '../img/sprite.png';
$ch8: (275px, 138px, -275px, -138px, 15px, 18px, 305px, 291px, '../img/sprite.png', 'ch8', );
$ch9-h-name: 'ch9-h';
$ch9-h-x: 275px;
$ch9-h-y: 23px;
$ch9-h-offset-x: -275px;
$ch9-h-offset-y: -23px;
$ch9-h-width: 16px;
$ch9-h-height: 18px;
$ch9-h-total-width: 305px;
$ch9-h-total-height: 291px;
$ch9-h-image: '../img/sprite.png';
$ch9-h: (275px, 23px, -275px, -23px, 16px, 18px, 305px, 291px, '../img/sprite.png', 'ch9-h', );
$ch9-name: 'ch9';
$ch9-x: 275px;
$ch9-y: 0px;
$ch9-offset-x: -275px;
$ch9-offset-y: 0px;
$ch9-width: 16px;
$ch9-height: 18px;
$ch9-total-width: 305px;
$ch9-total-height: 291px;
$ch9-image: '../img/sprite.png';
$ch9: (275px, 0px, -275px, 0px, 16px, 18px, 305px, 291px, '../img/sprite.png', 'ch9', );
$checkbox-c-name: 'checkbox_c';
$checkbox-c-x: 66px;
$checkbox-c-y: 251px;
$checkbox-c-offset-x: -66px;
$checkbox-c-offset-y: -251px;
$checkbox-c-width: 17px;
$checkbox-c-height: 17px;
$checkbox-c-total-width: 305px;
$checkbox-c-total-height: 291px;
$checkbox-c-image: '../img/sprite.png';
$checkbox-c: (66px, 251px, -66px, -251px, 17px, 17px, 305px, 291px, '../img/sprite.png', 'checkbox_c', );
$checkbox-grad-name: 'checkbox_grad';
$checkbox-grad-x: 22px;
$checkbox-grad-y: 251px;
$checkbox-grad-offset-x: -22px;
$checkbox-grad-offset-y: -251px;
$checkbox-grad-width: 17px;
$checkbox-grad-height: 18px;
$checkbox-grad-total-width: 305px;
$checkbox-grad-total-height: 291px;
$checkbox-grad-image: '../img/sprite.png';
$checkbox-grad: (22px, 251px, -22px, -251px, 17px, 18px, 305px, 291px, '../img/sprite.png', 'checkbox_grad', );
$checkbox-name: 'checkbox';
$checkbox-x: 195px;
$checkbox-y: 226px;
$checkbox-offset-x: -195px;
$checkbox-offset-y: -226px;
$checkbox-width: 18px;
$checkbox-height: 18px;
$checkbox-total-width: 305px;
$checkbox-total-height: 291px;
$checkbox-image: '../img/sprite.png';
$checkbox: (195px, 226px, -195px, -226px, 18px, 18px, 305px, 291px, '../img/sprite.png', 'checkbox', );
$child-name: 'child';
$child-x: 117px;
$child-y: 184px;
$child-offset-x: -117px;
$child-offset-y: -184px;
$child-width: 11px;
$child-height: 9px;
$child-total-width: 305px;
$child-total-height: 291px;
$child-image: '../img/sprite.png';
$child: (117px, 184px, -117px, -184px, 11px, 9px, 305px, 291px, '../img/sprite.png', 'child', );
$city-name: 'city';
$city-x: 296px;
$city-y: 142px;
$city-offset-x: -296px;
$city-offset-y: -142px;
$city-width: 8px;
$city-height: 5px;
$city-total-width: 305px;
$city-total-height: 291px;
$city-image: '../img/sprite.png';
$city: (296px, 142px, -296px, -142px, 8px, 5px, 305px, 291px, '../img/sprite.png', 'city', );
$club-name: 'club';
$club-x: 0px;
$club-y: 77px;
$club-offset-x: 0px;
$club-offset-y: -77px;
$club-width: 64px;
$club-height: 69px;
$club-total-width: 305px;
$club-total-height: 291px;
$club-image: '../img/sprite.png';
$club: (0px, 77px, 0px, -77px, 64px, 69px, 305px, 291px, '../img/sprite.png', 'club', );
$cof-name: 'cof';
$cof-x: 0px;
$cof-y: 226px;
$cof-offset-x: 0px;
$cof-offset-y: -226px;
$cof-width: 20px;
$cof-height: 20px;
$cof-total-width: 305px;
$cof-total-height: 291px;
$cof-image: '../img/sprite.png';
$cof: (0px, 226px, 0px, -226px, 20px, 20px, 305px, 291px, '../img/sprite.png', 'cof', );
$com-name: 'com';
$com-x: 296px;
$com-y: 120px;
$com-offset-x: -296px;
$com-offset-y: -120px;
$com-width: 7px;
$com-height: 7px;
$com-total-width: 305px;
$com-total-height: 291px;
$com-image: '../img/sprite.png';
$com: (296px, 120px, -296px, -120px, 7px, 7px, 305px, 291px, '../img/sprite.png', 'com', );
$comment-name: 'comment';
$comment-x: 236px;
$comment-y: 251px;
$comment-offset-x: -236px;
$comment-offset-y: -251px;
$comment-width: 12px;
$comment-height: 13px;
$comment-total-width: 305px;
$comment-total-height: 291px;
$comment-image: '../img/sprite.png';
$comment: (236px, 251px, -236px, -251px, 12px, 13px, 305px, 291px, '../img/sprite.png', 'comment', );
$coner-name: 'coner';
$coner-x: 296px;
$coner-y: 152px;
$coner-offset-x: -296px;
$coner-offset-y: -152px;
$coner-width: 9px;
$coner-height: 4px;
$coner-total-width: 305px;
$coner-total-height: 291px;
$coner-image: '../img/sprite.png';
$coner: (296px, 152px, -296px, -152px, 9px, 4px, 305px, 291px, '../img/sprite.png', 'coner', );
$conerright-name: 'conerright';
$conerright-x: 296px;
$conerright-y: 104px;
$conerright-offset-x: -296px;
$conerright-offset-y: -104px;
$conerright-width: 6px;
$conerright-height: 11px;
$conerright-total-width: 305px;
$conerright-total-height: 291px;
$conerright-image: '../img/sprite.png';
$conerright: (296px, 104px, -296px, -104px, 6px, 11px, 305px, 291px, '../img/sprite.png', 'conerright', );
$custom-select-a-name: 'custom-select-a';
$custom-select-a-x: 84px;
$custom-select-a-y: 151px;
$custom-select-a-offset-x: -84px;
$custom-select-a-offset-y: -151px;
$custom-select-a-width: 29px;
$custom-select-a-height: 27px;
$custom-select-a-total-width: 305px;
$custom-select-a-total-height: 291px;
$custom-select-a-image: '../img/sprite.png';
$custom-select-a: (84px, 151px, -84px, -151px, 29px, 27px, 305px, 291px, '../img/sprite.png', 'custom-select-a', );
$custom-select-name: 'custom-select';
$custom-select-x: 118px;
$custom-select-y: 151px;
$custom-select-offset-x: -118px;
$custom-select-offset-y: -151px;
$custom-select-width: 29px;
$custom-select-height: 27px;
$custom-select-total-width: 305px;
$custom-select-total-height: 291px;
$custom-select-image: '../img/sprite.png';
$custom-select: (118px, 151px, -118px, -151px, 29px, 27px, 305px, 291px, '../img/sprite.png', 'custom-select', );
$descript-name: 'descript';
$descript-x: 64px;
$descript-y: 274px;
$descript-offset-x: -64px;
$descript-offset-y: -274px;
$descript-width: 11px;
$descript-height: 10px;
$descript-total-width: 305px;
$descript-total-height: 291px;
$descript-image: '../img/sprite.png';
$descript: (64px, 274px, -64px, -274px, 11px, 10px, 305px, 291px, '../img/sprite.png', 'descript', );
$down-name: 'down';
$down-x: 296px;
$down-y: 132px;
$down-offset-x: -296px;
$down-offset-y: -132px;
$down-width: 9px;
$down-height: 5px;
$down-total-width: 305px;
$down-total-height: 291px;
$down-image: '../img/sprite.png';
$down: (296px, 132px, -296px, -132px, 9px, 5px, 305px, 291px, '../img/sprite.png', 'down', );
$end-name: 'end';
$end-x: 296px;
$end-y: 202px;
$end-offset-x: -296px;
$end-offset-y: -202px;
$end-width: 3px;
$end-height: 5px;
$end-total-width: 305px;
$end-total-height: 291px;
$end-image: '../img/sprite.png';
$end: (296px, 202px, -296px, -202px, 3px, 5px, 305px, 291px, '../img/sprite.png', 'end', );
$geo-r-name: 'geo-r';
$geo-r-x: 296px;
$geo-r-y: 74px;
$geo-r-offset-x: -296px;
$geo-r-offset-y: -74px;
$geo-r-width: 8px;
$geo-r-height: 10px;
$geo-r-total-width: 305px;
$geo-r-total-height: 291px;
$geo-r-image: '../img/sprite.png';
$geo-r: (296px, 74px, -296px, -74px, 8px, 10px, 305px, 291px, '../img/sprite.png', 'geo-r', );
$geo-name: 'geo';
$geo-x: 296px;
$geo-y: 89px;
$geo-offset-x: -296px;
$geo-offset-y: -89px;
$geo-width: 8px;
$geo-height: 10px;
$geo-total-width: 305px;
$geo-total-height: 291px;
$geo-image: '../img/sprite.png';
$geo: (296px, 89px, -296px, -89px, 8px, 10px, 305px, 291px, '../img/sprite.png', 'geo', );
$gold-name: 'gold';
$gold-x: 253px;
$gold-y: 251px;
$gold-offset-x: -253px;
$gold-offset-y: -251px;
$gold-width: 13px;
$gold-height: 12px;
$gold-total-width: 305px;
$gold-total-height: 291px;
$gold-image: '../img/sprite.png';
$gold: (253px, 251px, -253px, -251px, 13px, 12px, 305px, 291px, '../img/sprite.png', 'gold', );
$hot-name: 'hot';
$hot-x: 128px;
$hot-y: 130px;
$hot-offset-x: -128px;
$hot-offset-y: -130px;
$hot-width: 45px;
$hot-height: 13px;
$hot-total-width: 305px;
$hot-total-height: 291px;
$hot-image: '../img/sprite.png';
$hot: (128px, 130px, -128px, -130px, 45px, 13px, 305px, 291px, '../img/sprite.png', 'hot', );
$letf-coner-name: 'letf-coner';
$letf-coner-x: 263px;
$letf-coner-y: 0px;
$letf-coner-offset-x: -263px;
$letf-coner-offset-y: 0px;
$letf-coner-width: 7px;
$letf-coner-height: 108px;
$letf-coner-total-width: 305px;
$letf-coner-total-height: 291px;
$letf-coner-image: '../img/sprite.png';
$letf-coner: (263px, 0px, -263px, 0px, 7px, 108px, 305px, 291px, '../img/sprite.png', 'letf-coner', );
$like-name: 'like';
$like-x: 256px;
$like-y: 203px;
$like-offset-x: -256px;
$like-offset-y: -203px;
$like-width: 14px;
$like-height: 14px;
$like-total-width: 305px;
$like-total-height: 291px;
$like-image: '../img/sprite.png';
$like: (256px, 203px, -256px, -203px, 14px, 14px, 305px, 291px, '../img/sprite.png', 'like', );
$list-name: 'list';
$list-x: 0px;
$list-y: 274px;
$list-offset-x: 0px;
$list-offset-y: -274px;
$list-width: 10px;
$list-height: 17px;
$list-total-width: 305px;
$list-total-height: 291px;
$list-image: '../img/sprite.png';
$list: (0px, 274px, 0px, -274px, 10px, 17px, 305px, 291px, '../img/sprite.png', 'list', );
$new-name: 'new';
$new-x: 144px;
$new-y: 0px;
$new-offset-x: -144px;
$new-offset-y: 0px;
$new-width: 67px;
$new-height: 72px;
$new-total-width: 305px;
$new-total-height: 291px;
$new-image: '../img/sprite.png';
$new: (144px, 0px, -144px, 0px, 67px, 72px, 305px, 291px, '../img/sprite.png', 'new', );
$num-bottom-name: 'num-bottom';
$num-bottom-x: 178px;
$num-bottom-y: 130px;
$num-bottom-offset-x: -178px;
$num-bottom-offset-y: -130px;
$num-bottom-width: 29px;
$num-bottom-height: 13px;
$num-bottom-total-width: 305px;
$num-bottom-total-height: 291px;
$num-bottom-image: '../img/sprite.png';
$num-bottom: (178px, 130px, -178px, -130px, 29px, 13px, 305px, 291px, '../img/sprite.png', 'num-bottom', );
$num-up-name: 'num-up';
$num-up-x: 178px;
$num-up-y: 151px;
$num-up-offset-x: -178px;
$num-up-offset-y: -151px;
$num-up-width: 29px;
$num-up-height: 14px;
$num-up-total-width: 305px;
$num-up-total-height: 291px;
$num-up-image: '../img/sprite.png';
$num-up: (178px, 151px, -178px, -151px, 29px, 14px, 305px, 291px, '../img/sprite.png', 'num-up', );
$of-name: 'of';
$of-x: 44px;
$of-y: 251px;
$of-offset-x: -44px;
$of-offset-y: -251px;
$of-width: 17px;
$of-height: 17px;
$of-total-width: 305px;
$of-total-height: 291px;
$of-image: '../img/sprite.png';
$of: (44px, 251px, -44px, -251px, 17px, 17px, 305px, 291px, '../img/sprite.png', 'of', );
$on-name: 'on';
$on-x: 88px;
$on-y: 251px;
$on-offset-x: -88px;
$on-offset-y: -251px;
$on-width: 17px;
$on-height: 17px;
$on-total-width: 305px;
$on-total-height: 291px;
$on-image: '../img/sprite.png';
$on: (88px, 251px, -88px, -251px, 17px, 17px, 305px, 291px, '../img/sprite.png', 'on', );
$ordinary-name: 'ordinary';
$ordinary-x: 188px;
$ordinary-y: 77px;
$ordinary-offset-x: -188px;
$ordinary-offset-y: -77px;
$ordinary-width: 22px;
$ordinary-height: 29px;
$ordinary-total-width: 305px;
$ordinary-total-height: 291px;
$ordinary-image: '../img/sprite.png';
$ordinary: (188px, 77px, -188px, -77px, 22px, 29px, 305px, 291px, '../img/sprite.png', 'ordinary', );
$pen-name: 'pen';
$pen-x: 296px;
$pen-y: 60px;
$pen-offset-x: -296px;
$pen-offset-y: -60px;
$pen-width: 9px;
$pen-height: 9px;
$pen-total-width: 305px;
$pen-total-height: 291px;
$pen-image: '../img/sprite.png';
$pen: (296px, 60px, -296px, -60px, 9px, 9px, 305px, 291px, '../img/sprite.png', 'pen', );
$people-name: 'people';
$people-x: 99px;
$people-y: 184px;
$people-offset-x: -99px;
$people-offset-y: -184px;
$people-width: 13px;
$people-height: 9px;
$people-total-width: 305px;
$people-total-height: 291px;
$people-image: '../img/sprite.png';
$people: (99px, 184px, -99px, -184px, 13px, 9px, 305px, 291px, '../img/sprite.png', 'people', );
$picker-name: 'picker';
$picker-x: 216px;
$picker-y: 105px;
$picker-offset-x: -216px;
$picker-offset-y: -105px;
$picker-width: 39px;
$picker-height: 45px;
$picker-total-width: 305px;
$picker-total-height: 291px;
$picker-image: '../img/sprite.png';
$picker: (216px, 105px, -216px, -105px, 39px, 45px, 305px, 291px, '../img/sprite.png', 'picker', );
$quotes-name: 'quotes';
$quotes-x: 198px;
$quotes-y: 251px;
$quotes-offset-x: -198px;
$quotes-offset-y: -251px;
$quotes-width: 15px;
$quotes-height: 14px;
$quotes-total-width: 305px;
$quotes-total-height: 291px;
$quotes-image: '../img/sprite.png';
$quotes: (198px, 251px, -198px, -251px, 15px, 14px, 305px, 291px, '../img/sprite.png', 'quotes', );
$redbest-name: 'redbest';
$redbest-x: 128px;
$redbest-y: 77px;
$redbest-offset-x: -128px;
$redbest-offset-y: -77px;
$redbest-width: 55px;
$redbest-height: 48px;
$redbest-total-width: 305px;
$redbest-total-height: 291px;
$redbest-image: '../img/sprite.png';
$redbest: (128px, 77px, -128px, -77px, 55px, 48px, 305px, 291px, '../img/sprite.png', 'redbest', );
$rest-name: 'rest';
$rest-x: 69px;
$rest-y: 77px;
$rest-offset-x: -69px;
$rest-offset-y: -77px;
$rest-width: 54px;
$rest-height: 69px;
$rest-total-width: 305px;
$rest-total-height: 291px;
$rest-image: '../img/sprite.png';
$rest: (69px, 77px, -69px, -77px, 54px, 69px, 305px, 291px, '../img/sprite.png', 'rest', );
$right-name: 'right';
$right-x: 296px;
$right-y: 172px;
$right-offset-x: -296px;
$right-offset-y: -172px;
$right-width: 3px;
$right-height: 5px;
$right-total-width: 305px;
$right-total-height: 291px;
$right-image: '../img/sprite.png';
$right: (296px, 172px, -296px, -172px, 3px, 5px, 305px, 291px, '../img/sprite.png', 'right', );
$righty-name: 'righty';
$righty-x: 296px;
$righty-y: 192px;
$righty-offset-x: -296px;
$righty-offset-y: -192px;
$righty-width: 3px;
$righty-height: 5px;
$righty-total-width: 305px;
$righty-total-height: 291px;
$righty-image: '../img/sprite.png';
$righty: (296px, 192px, -296px, -192px, 3px, 5px, 305px, 291px, '../img/sprite.png', 'righty', );
$ru-name: 'ru';
$ru-x: 50px;
$ru-y: 184px;
$ru-offset-x: -50px;
$ru-offset-y: -184px;
$ru-width: 18px;
$ru-height: 14px;
$ru-total-width: 305px;
$ru-total-height: 291px;
$ru-image: '../img/sprite.png';
$ru: (50px, 184px, -50px, -184px, 18px, 14px, 305px, 291px, '../img/sprite.png', 'ru', );
$rub-name: 'rub';
$rub-x: 296px;
$rub-y: 42px;
$rub-offset-x: -296px;
$rub-offset-y: -42px;
$rub-width: 9px;
$rub-height: 13px;
$rub-total-width: 305px;
$rub-total-height: 291px;
$rub-image: '../img/sprite.png';
$rub: (296px, 42px, -296px, -42px, 9px, 13px, 305px, 291px, '../img/sprite.png', 'rub', );
$search-gray-name: 'search-gray';
$search-gray-x: 80px;
$search-gray-y: 274px;
$search-gray-offset-x: -80px;
$search-gray-offset-y: -274px;
$search-gray-width: 10px;
$search-gray-height: 10px;
$search-gray-total-width: 305px;
$search-gray-total-height: 291px;
$search-gray-image: '../img/sprite.png';
$search-gray: (80px, 274px, -80px, -274px, 10px, 10px, 305px, 291px, '../img/sprite.png', 'search-gray', );
$search-name: 'search';
$search-x: 15px;
$search-y: 274px;
$search-offset-x: -15px;
$search-offset-y: -274px;
$search-width: 12px;
$search-height: 14px;
$search-total-width: 305px;
$search-total-height: 291px;
$search-image: '../img/sprite.png';
$search: (15px, 274px, -15px, -274px, 12px, 14px, 305px, 291px, '../img/sprite.png', 'search', );
$select-name: 'select';
$select-x: 160px;
$select-y: 203px;
$select-offset-x: -160px;
$select-offset-y: -203px;
$select-width: 19px;
$select-height: 18px;
$select-total-width: 305px;
$select-total-height: 291px;
$select-image: '../img/sprite.png';
$select: (160px, 203px, -160px, -203px, 19px, 18px, 305px, 291px, '../img/sprite.png', 'select', );
$slider-arrow-h-name: 'slider-arrow-h';
$slider-arrow-h-x: 296px;
$slider-arrow-h-y: 21px;
$slider-arrow-h-offset-x: -296px;
$slider-arrow-h-offset-y: -21px;
$slider-arrow-h-width: 9px;
$slider-arrow-h-height: 16px;
$slider-arrow-h-total-width: 305px;
$slider-arrow-h-total-height: 291px;
$slider-arrow-h-image: '../img/sprite.png';
$slider-arrow-h: (296px, 21px, -296px, -21px, 9px, 16px, 305px, 291px, '../img/sprite.png', 'slider-arrow-h', );
$slider-arrow-name: 'slider-arrow';
$slider-arrow-x: 296px;
$slider-arrow-y: 0px;
$slider-arrow-offset-x: -296px;
$slider-arrow-offset-y: 0px;
$slider-arrow-width: 9px;
$slider-arrow-height: 16px;
$slider-arrow-total-width: 305px;
$slider-arrow-total-height: 291px;
$slider-arrow-image: '../img/sprite.png';
$slider-arrow: (296px, 0px, -296px, 0px, 9px, 16px, 305px, 291px, '../img/sprite.png', 'slider-arrow', );
$smile-name: 'smile';
$smile-x: 216px;
$smile-y: 53px;
$smile-offset-x: -216px;
$smile-offset-y: -53px;
$smile-width: 42px;
$smile-height: 47px;
$smile-total-width: 305px;
$smile-total-height: 291px;
$smile-image: '../img/sprite.png';
$smile: (216px, 53px, -216px, -53px, 42px, 47px, 305px, 291px, '../img/sprite.png', 'smile', );
$standart-big-name: 'standart-big';
$standart-big-x: 176px;
$standart-big-y: 251px;
$standart-big-offset-x: -176px;
$standart-big-offset-y: -251px;
$standart-big-width: 17px;
$standart-big-height: 16px;
$standart-big-total-width: 305px;
$standart-big-total-height: 291px;
$standart-big-image: '../img/sprite.png';
$standart-big: (176px, 251px, -176px, -251px, 17px, 16px, 305px, 291px, '../img/sprite.png', 'standart-big', );
$standart-grad-name: 'standart-grad';
$standart-grad-x: 154px;
$standart-grad-y: 251px;
$standart-grad-offset-x: -154px;
$standart-grad-offset-y: -251px;
$standart-grad-width: 17px;
$standart-grad-height: 16px;
$standart-grad-total-width: 305px;
$standart-grad-total-height: 291px;
$standart-grad-image: '../img/sprite.png';
$standart-grad: (154px, 251px, -154px, -251px, 17px, 16px, 305px, 291px, '../img/sprite.png', 'standart-grad', );
$standart-on-red-name: 'standart-on-red';
$standart-on-red-x: 110px;
$standart-on-red-y: 251px;
$standart-on-red-offset-x: -110px;
$standart-on-red-offset-y: -251px;
$standart-on-red-width: 17px;
$standart-on-red-height: 16px;
$standart-on-red-total-width: 305px;
$standart-on-red-total-height: 291px;
$standart-on-red-image: '../img/sprite.png';
$standart-on-red: (110px, 251px, -110px, -251px, 17px, 16px, 305px, 291px, '../img/sprite.png', 'standart-on-red', );
$standart-on-name: 'standart-on';
$standart-on-x: 275px;
$standart-on-y: 207px;
$standart-on-offset-x: -275px;
$standart-on-offset-y: -207px;
$standart-on-width: 15px;
$standart-on-height: 16px;
$standart-on-total-width: 305px;
$standart-on-total-height: 291px;
$standart-on-image: '../img/sprite.png';
$standart-on: (275px, 207px, -275px, -207px, 15px, 16px, 305px, 291px, '../img/sprite.png', 'standart-on', );
$standart-name: 'standart';
$standart-x: 132px;
$standart-y: 251px;
$standart-offset-x: -132px;
$standart-offset-y: -251px;
$standart-width: 17px;
$standart-height: 16px;
$standart-total-width: 305px;
$standart-total-height: 291px;
$standart-image: '../img/sprite.png';
$standart: (132px, 251px, -132px, -251px, 17px, 16px, 305px, 291px, '../img/sprite.png', 'standart', );
$time-red-name: 'time-red';
$time-red-x: 48px;
$time-red-y: 274px;
$time-red-offset-x: -48px;
$time-red-offset-y: -274px;
$time-red-width: 11px;
$time-red-height: 12px;
$time-red-total-width: 305px;
$time-red-total-height: 291px;
$time-red-image: '../img/sprite.png';
$time-red: (48px, 274px, -48px, -274px, 11px, 12px, 305px, 291px, '../img/sprite.png', 'time-red', );
$time-name: 'time';
$time-x: 0px;
$time-y: 151px;
$time-offset-x: 0px;
$time-offset-y: -151px;
$time-width: 45px;
$time-height: 47px;
$time-total-width: 305px;
$time-total-height: 291px;
$time-image: '../img/sprite.png';
$time: (0px, 151px, 0px, -151px, 45px, 47px, 305px, 291px, '../img/sprite.png', 'time', );
$toggle-name: 'toggle';
$toggle-x: 218px;
$toggle-y: 251px;
$toggle-offset-x: -218px;
$toggle-offset-y: -251px;
$toggle-width: 13px;
$toggle-height: 13px;
$toggle-total-width: 305px;
$toggle-total-height: 291px;
$toggle-image: '../img/sprite.png';
$toggle: (218px, 251px, -218px, -251px, 13px, 13px, 305px, 291px, '../img/sprite.png', 'toggle', );
$tur-name: 'tur';
$tur-x: 216px;
$tur-y: 0px;
$tur-offset-x: -216px;
$tur-offset-y: 0px;
$tur-width: 42px;
$tur-height: 48px;
$tur-total-width: 305px;
$tur-total-height: 291px;
$tur-image: '../img/sprite.png';
$tur: (216px, 0px, -216px, 0px, 42px, 48px, 305px, 291px, '../img/sprite.png', 'tur', );
$uk-name: 'uk';
$uk-x: 188px;
$uk-y: 111px;
$uk-offset-x: -188px;
$uk-offset-y: -111px;
$uk-width: 18px;
$uk-height: 14px;
$uk-total-width: 305px;
$uk-total-height: 291px;
$uk-image: '../img/sprite.png';
$uk: (188px, 111px, -188px, -111px, 18px, 14px, 305px, 291px, '../img/sprite.png', 'uk', );
$up-load-name: 'up-load';
$up-load-x: 133px;
$up-load-y: 184px;
$up-load-offset-x: -133px;
$up-load-offset-y: -184px;
$up-load-width: 10px;
$up-load-height: 9px;
$up-load-total-width: 305px;
$up-load-total-height: 291px;
$up-load-image: '../img/sprite.png';
$up-load: (133px, 184px, -133px, -184px, 10px, 9px, 305px, 291px, '../img/sprite.png', 'up-load', );
$wend-name: 'wend';
$wend-x: 296px;
$wend-y: 182px;
$wend-offset-x: -296px;
$wend-offset-y: -182px;
$wend-width: 3px;
$wend-height: 5px;
$wend-total-width: 305px;
$wend-total-height: 291px;
$wend-image: '../img/sprite.png';
$wend: (296px, 182px, -296px, -182px, 3px, 5px, 305px, 291px, '../img/sprite.png', 'wend', );
$wolk-name: 'wolk';
$wolk-x: 275px;
$wolk-y: 228px;
$wolk-offset-x: -275px;
$wolk-offset-y: -228px;
$wolk-width: 14px;
$wolk-height: 16px;
$wolk-total-width: 305px;
$wolk-total-height: 291px;
$wolk-image: '../img/sprite.png';
$wolk: (275px, 228px, -275px, -228px, 14px, 16px, 305px, 291px, '../img/sprite.png', 'wolk', );
$y-curr-name: 'y-curr';
$y-curr-x: 216px;
$y-curr-y: 155px;
$y-curr-offset-x: -216px;
$y-curr-offset-y: -155px;
$y-curr-width: 37px;
$y-curr-height: 36px;
$y-curr-total-width: 305px;
$y-curr-total-height: 291px;
$y-curr-image: '../img/sprite.png';
$y-curr: (216px, 155px, -216px, -155px, 37px, 36px, 305px, 291px, '../img/sprite.png', 'y-curr', );
$spritesheet-width: 305px;
$spritesheet-height: 291px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($afterordinary, $all, $bay, $beforeordinary, $best, $c-of-b, $c-on, $calendar, $ch1-h, $ch1, $ch10-h, $ch10, $ch11-h, $ch11, $ch12-h, $ch12, $ch13-h, $ch13, $ch14-h, $ch14, $ch15-h, $ch2-h, $ch2, $ch3-h, $ch3, $ch4-h, $ch4, $ch5-h, $ch5, $ch6-h, $ch6, $ch7-h, $ch7, $ch8-h, $ch8, $ch9-h, $ch9, $checkbox-c, $checkbox-grad, $checkbox, $child, $city, $club, $cof, $com, $comment, $coner, $conerright, $custom-select-a, $custom-select, $descript, $down, $end, $geo-r, $geo, $gold, $hot, $letf-coner, $like, $list, $new, $num-bottom, $num-up, $of, $on, $ordinary, $pen, $people, $picker, $quotes, $redbest, $rest, $right, $righty, $ru, $rub, $search-gray, $search, $select, $slider-arrow-h, $slider-arrow, $smile, $standart-big, $standart-grad, $standart-on-red, $standart-on, $standart, $time-red, $time, $toggle, $tur, $uk, $up-load, $wend, $wolk, $y-curr, );
$spritesheet: (305px, 291px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
